[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
torchvision = "*"
connected-components-3d = "*"
scikit-image = "*"
pytorch-lightning = "*"
h5py = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"
notebook = "*"

[requires]
python_version = "3.7"
